<div class="inside-border">
    <div class="card">
        <div class="image-div">
            <img src="./images/Plover.jpg" alt="hidden image to size box to square" class="hidden-figure">
            <img src="./images/Nancy.jpg" alt="headshot of Nancy Lambert-Brown" class="card-img-left">
        </div>
        <div class="card-body">
            <div class="card-text-elements">
                <h4 class="card-title">Nancy Lambert-Brown</h4>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est blanditiis minima aspernatur doloremque officiis, dolorum amet, consequuntur impedit ducimus quae quod ab laudantium aliquid officia consectetur obcaecati odio iste maiores beatae sequi ad esse quisquam quasi. Laborum earum nulla ducimus impedit dolores quasi accusantium tempora, odit fugiat itaque nihil? Porro sed repellendus deserunt nihil a aliquid debitis, adipisci hic.</p>
            </div>
            <div class="card-buttons">
                <a id="github-a" href="https://github.com/n-lambert" class="btn btn-primary"><img src="/images/github.png" alt="github icon"></a>
                <a id="linkedin-a" href="https://www.linkedin.com/in/njlambert/" class="btn btn-primary"><img src="/images/linkedin.png" alt="linkedin icon"></a>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="./images/Nick.jpg" alt="headshot of Nicholas Konzen" class="card-img-left">
        <div class="card-body">
            <div class="card-text-elements">
                <h4 class="card-title">Nicholas Konzen</h4>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est blanditiis minima aspernatur doloremque officiis, dolorum amet, consequuntur impedit ducimus quae quod ab laudantium aliquid officia consectetur obcaecati odio iste maiores beatae sequi ad esse quisquam quasi. Laborum earum nulla ducimus impedit dolores quasi accusantium tempora, odit fugiat itaque nihil? Porro sed repellendus deserunt nihil a aliquid debitis, adipisci hic.</p>
            </div>
            <div class="card-buttons">
                <a id="github-a" href="https://github.com/NTKonzen" class="btn btn-primary"><img src="/images/github.png" alt="github icon"></a>
                <a id="linkedin-a" href="https://www.linkedin.com/in/nicholas-konzen-7160881b0/" class="btn btn-primary"><img src="/images/linkedin.png" alt="linkedin icon"></a>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="./images/Plover.jpg" alt="headshot of Plover Brown" class="card-img-left">
        <div class="card-body">
            <div class="card-text-elements">
                <h4 class="card-title">Plover Brown</h4>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est blanditiis minima aspernatur doloremque officiis, dolorum amet, consequuntur impedit ducimus quae quod ab laudantium aliquid officia consectetur obcaecati odio iste maiores beatae sequi ad esse quisquam quasi. Laborum earum nulla ducimus impedit dolores quasi accusantium tempora, odit fugiat itaque nihil? Porro sed repellendus deserunt nihil a aliquid debitis, adipisci hic.</p>
            </div>
            <div class="card-buttons">
                <a id="github-a" href="https://github.com/rebgrasshopper" class="btn btn-primary"><img src="/images/github.png" alt="github icon"></a>
                <a id="linkedin-a" href="https://www.linkedin.com/in/plover-brown-37b6981a5/" class="btn btn-primary"><img src="/images/linkedin.png" alt="linkedin icon"></a>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="./images/Talia.jpg" alt="headshot of Talia Vazquez" class="card-img-left">
        <div class="card-body">
            <div class="card-text-elements">
                <h4 class="card-title">Talia Vazquez</h4>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est blanditiis minima aspernatur doloremque officiis, dolorum amet, consequuntur impedit ducimus quae quod ab laudantium aliquid officia consectetur obcaecati odio iste maiores beatae sequi ad esse quisquam quasi. Laborum earum nulla ducimus impedit dolores quasi accusantium tempora, odit fugiat itaque nihil? Porro sed repellendus deserunt nihil a aliquid debitis, adipisci hic.</p>
            </div>
            <div class="card-buttons">
                <a id="github-a" href="https://github.com/taliavazquez" class="btn btn-primary"><img src="/images/github.png" alt="github icon"></a>
                <a id="linkedin-a" href="https://www.linkedin.com/in/talia-vazquez-1768461a9/" class="btn btn-primary"><img src="/images/linkedin.png" alt="linkedin icon"></a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="image-div">
            <img src="./images/Plover.jpg" alt="hidden image to size box to square" class="hidden-figure">
            <img src="./images/Jeneth.jpg" alt="headshot of Jeneth Diestra" class="card-img-left">
        </div>
        <div class="card-body">
            <div class="card-text-elements">
                <h4 class="card-title">Jeneth Diestra</h4>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est blanditiis minima aspernatur doloremque officiis, dolorum amet, consequuntur impedit ducimus quae quod ab laudantium aliquid officia consectetur obcaecati odio iste maiores beatae sequi ad esse quisquam quasi. Laborum earum nulla ducimus impedit dolores quasi accusantium tempora, odit fugiat itaque nihil? Porro sed repellendus deserunt nihil a aliquid debitis, adipisci hic.</p>
            </div>
            <div class="card-buttons">
                <a id="github-a" href="https://github.com/jen6one9" class="btn btn-primary"><img src="/images/github.png" alt="github icon"></a>
                <a id="linkedin-a" href="https://www.linkedin.com/in/jeneth-diesta/" class="btn btn-primary"><img src="/images/linkedin.png" alt="linkedin icon"></a>
            </div>
        </div>
    </div>
</div>
<footer id="play-link"><a href="/play">Back to the game!</a></footer>

<script src="./js/about.js"></script>