
<h1>Meet our team:</h1>

<div class="inside-border">
    <div class="card">
        <div class="image-div">
            <img src="./images/Plover.jpg" alt="hidden image to size box to square" class="hidden-figure">
            <img src="./images/Nancy.jpg" alt="headshot of Nancy Lambert-Brown" class="card-img-left">
        </div>
        <div class="card-body">
            <div class="card-text-elements">
                <h4 class="card-title">Nancy Lambert-Brown</h4>
                <p class="card-text">I'm a creative thinker and problem solver and love to design, build and deliver complex scalable products with an easy to use UX. I have a strong background in SQL and JS and I'm bringing it all together into full-stack development. I enjoy hard challenges - like this game, where we had to work with publish/subscribe within JS and build out a story with data objects that could scale.</p>
            </div>
        </div>
        <div class="card-buttons">
            <a id="github-a" href="https://github.com/n-lambert" class="btn btn-primary"><img src="/images/github.png" alt="github icon"></a>
            <a id="linkedin-a" href="https://www.linkedin.com/in/njlambert/" class="btn btn-primary"><img src="/images/linkedin.png" alt="linkedin icon"></a>
        </div>
    </div>

    <div class="card">
        <img src="./images/Nick.jpg" alt="headshot of Nicholas Konzen" class="card-img-left">
        <div class="card-body">
            <div class="card-text-elements">
                <h4 class="card-title">Nicholas Konzen</h4>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est blanditiis minima aspernatur doloremque officiis, dolorum amet, consequuntur impedit ducimus quae quod ab laudantium aliquid officia consectetur obcaecati odio iste maiores beatae sequi ad esse quisquam quasi. Laborum earum nulla ducimus impedit dolores quasi accusantium tempora, odit fugiat itaque nihil? Porro sed repellendus deserunt nihil a aliquid debitis, adipisci hic.</p>
            </div>
        </div>
        <div class="card-buttons">
            <a id="github-a" href="https://github.com/NTKonzen" class="btn btn-primary"><img src="/images/github.png" alt="github icon"></a>
            <a id="linkedin-a" href="https://www.linkedin.com/in/nicholas-konzen-7160881b0/" class="btn btn-primary"><img src="/images/linkedin.png" alt="linkedin icon"></a>
        </div>
    </div>

    <div class="card">
        <img src="./images/Plover.jpg" alt="headshot of Plover Brown" class="card-img-left">
        <div class="card-body">
            <div class="card-text-elements">
                <h4 class="card-title">Plover Brown</h4>
                <p class="card-text">I'm a developer based in San Diego, living in the sun and enjoying the outdoors with my kid. When I'm inside, I love to work on detailed, lengthy coding problems like this game. It's been absolutely a blast to dive into all of the intricacies of responding to user input in a wide variety of interesting ways, and fun also to pop into the front of the application to work on the user experience, accessibility, and security aspects.</p>
            </div>
        </div>
        <div class="card-buttons">
            <a id="github-a" href="https://github.com/rebgrasshopper" class="btn btn-primary"><img src="/images/github.png" alt="github icon"></a>
            <a id="linkedin-a" href="https://www.linkedin.com/in/plover-brown-37b6981a5/" class="btn btn-primary"><img src="/images/linkedin.png" alt="linkedin icon"></a>
        </div>
    </div>

    <div class="card">
        <img src="./images/Talia.jpg" alt="headshot of Talia Vazquez" class="card-img-left">
        <div class="card-body">
            <div class="card-text-elements">
                <h4 class="card-title">Talia Vazquez</h4>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est blanditiis minima aspernatur doloremque officiis, dolorum amet, consequuntur impedit ducimus quae quod ab laudantium aliquid officia consectetur obcaecati odio iste maiores beatae sequi ad esse quisquam quasi. Laborum earum nulla ducimus impedit dolores quasi accusantium tempora, odit fugiat itaque nihil? Porro sed repellendus deserunt nihil a aliquid debitis, adipisci hic.</p>
            </div>
        </div>
        <div class="card-buttons">
            <a id="github-a" href="https://github.com/taliavazquez" class="btn btn-primary"><img src="/images/github.png" alt="github icon"></a>
            <a id="linkedin-a" href="https://www.linkedin.com/in/talia-vazquez-1768461a9/" class="btn btn-primary"><img src="/images/linkedin.png" alt="linkedin icon"></a>
        </div>
    </div>

    <div class="card">
        <div class="image-div">
            <img src="./images/Plover.jpg" alt="hidden image to size box to square" class="hidden-figure">
            <img src="./images/Jeneth.jpg" alt="headshot of Jeneth Diesta" class="card-img-left">
        </div>
        <div class="card-body">
            <div class="card-text-elements">
                <h4 class="card-title">Jeneth Diesta</h4>
                <p class="card-text">I'm an IT project manager for a global financial institution looking to expand my skillset by learning how to code. I have a "customer first" mindset and believe in earning the customer's trust by paying close attention to the details.  Beyond the workday, I'm involved in NextGen Leaders, an ERG which seeks to bring together individuals to network and collaborate.</p>
            </div>
        </div>
        <div class="card-buttons">
            <a id="github-a" href="https://github.com/jen6one9" class="btn btn-primary"><img src="/images/github.png" alt="github icon"></a>
            <a id="linkedin-a" href="https://www.linkedin.com/in/jeneth-diesta/" class="btn btn-primary"><img src="/images/linkedin.png" alt="linkedin icon"></a>
        </div>
    </div>
</div>
<footer id="play-link"><a href="/play">Back to the game!</a></footer>

<script src="./js/about.js"></script>