
<div class="container">
<img id="background-small" src="/images/Small-Background.png">
<img id="background-large" src="/images/Large-Background.png">

<div class="panel panel-default">
    <div class="panel-heading"></div>
        <div id="location-info"></div>
    <div class="message-output-box">
        <ul class="list-group chat-output"></ul>
        <div id="anchor"></div>
    </div>
    <div class="panel-body">
        <form>
            <div class="input-group">
                <input type="text" class="form-control chat-input" autofocus="autofocus" onfocus="this.select()"/>
                <span class="input-group-btn">
                    <button type="submit" id="submit-button" class="btn btn-default">=></button>
                </span>
            </div>
        </form>
    </div>
</div>
</div>
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.29.9.js"></script>
<!--Pluralize-->
<script src="/scripts/pluralize.js"></script>
<!-- jquery  -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<!--API calls-->
<script src="/js/apiCalls.js"></script>
<!--pubnub JS-->
<script src="/js/pubnub.js"></script>
<!--userInteraction JS-->
<script src="/js/userInteraction.js"></script>
<!--skillsInteraction JS-->
<script src="/js/skillsInteraction.js"></script>
