@font-face {
    font-family: 'kavalerkursive';
    src: url('kavaler_kursive-webfont.woff2') format('woff2'),
         url('kavaler_kursive-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    margin: 0 auto;
}

#about-link, #about-link a {
    margin-top: -100px;
    color: #AAA9AD;
    z-index: 1000;
}

#play-link, #play-link a {
    color: black;
    z-index: 1000;

}

footer {
    margin-left: 0px;
}


/* Chat box */ 
.container {
    position: relative;
}

#background-small{
    display: block;
    width: 100%;
}

#background-large{
    display: none;
    width: 130%;
    margin: 0 auto;
    margin-left: -130px;
}

#background-mobile {
    display: none;
    margin: 0 auto;
}

.panel-default {
    background-color: black;
    color: white;
    padding: 10px;
    width: 69%;
    max-width: 1000px;
    height: 63%;
    max-height: 500px;
    border: white 2px solid;
    position: absolute;
    opacity: 1;
    left: 16%;
    top: 22%;
    border-radius: 10px;
    padding-bottom: 100px;
    font-size: 12px;
}

#location-info {
    border-bottom-style: groove;
}

.input-group {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 2px;
    left: 2px;
    width: 98%;
    max-width: 998px;
    border-radius: 10px;
    height: 10%;
    background-color: black;
    padding: 2px;
}

.chat-input {
    width: 90%;
    border-radius: 8px;
}

.message-output-box {
    overflow-y: scroll;
    overflow-wrap: break-word;
    height: 100%;
    overflow-anchor: none;
}

#whole-form {
    position: absolute;
    top: 29%;
    left: 20%;
    width: 65%;
}


/* message display */
.displayed-description {
    margin-left: 20px;
    margin-top: -8px;
    margin-right: 15px;
    color: rgb(245, 252, 181);
}

.displayed-stat{
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 13px;
    margin-right: 15px;
}

.displayed-stat #red{
    color: red
}

.displayed-stat #green{
    color: rgb(32, 223, 14)
}

.displayed-stat #blue{
    color: rgb(47, 255, 220)
}

#anchor {
    overflow-anchor: auto;
    height: 1px;
}

button{
    height: 100%;
    background-color: rgb(122, 122, 122);
    color: white;
}



/* ABOUT */

h1 {
    margin: 0 auto;
    margin-top: 40px;
    font-family: kavalerkursive;
}

.inside-border {
    margin-top: 40px;
    margin-bottom: 60px;
    border: 3px white solid;
    background-color: black;
    border-radius: 15px;
    height: 100%;
    padding: 20px;
}

.card {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.hidden-figure {
    height: 250px;
    width: 250px;
    display: none;
}

.image-div {
    height: 250px;
    width: 250px;
}

.card-img-left {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.card-body {
    display: flex;
}

.card-text-elements {
    display: flex;
    flex-direction: column;
}

.card-buttons {
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card a {
    height: 80px;
    width: 80px;
    padding: 0px;
    margin: 2px;
    background-color: #AAA9AD;
    border: none;
}

#github-a:hover {
    background-color: rgb(194, 1, 194);
}

#linkedin-a:hover {
    background-color: rgb(1, 108, 248);
}

.card a img {
    height: 70px;
    width: 70px;
    margin: 2px;
    margin-top: 4px;  
    filter: contrast(200%);
}


/* media queries */

@media only screen and (max-width: 350px) {
    .image-div {
        height: 150px;
        width: 150px;
    }

    .card-img-left {
        height: 150px;
        width: 150px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 500px) {
    .panel-default {
      top: 30%;
      height: 1500px;
    }
  }



  @media only screen and (min-width: 670px) {
    .panel-default {
      top: 25%;
      left: 36px;
      width: 65%;
      height: 35%;
    }
    #background-large{
        display: block;
    }
    #background-small{
        display: none;
    }

    #tv-circles {
        display: block;
    }
    #tv-static {
        display: none;
    }
  }

  @media only screen and (min-width: 767px) {
    .panel-default {
      top: 25%;
      left: 100px;
      width: 65%;
      height: 35%;
    }
    #background-large{
        display: block;
    }
    #background-small{
        display: none;
    }

    #tv-circles {
        display: block;
    }
    #tv-static {
        display: none;
    }
  }

  @media only screen and (min-width: 990px) {
    .panel-default {
      top: 25%;
      left: 185px;
      width: 65%;
      height: 35%;
    }
    #background-large{
        display: block;
    }
    #background-small{
        display: none;
    }

    #tv-circles {
        display: block;
    }
    #tv-static {
        display: none;
    }

    .card {
        padding-top: 0px;
        flex-direction: row;
        text-align: left;
    }
    
    .card-buttons {
        margin-bottom: 0px;
        flex-direction: column;
        margin-right: 16px;
    }

  }

  @media only screen and (min-width: 1200px) {
    .panel-default {
      top: 29%;
      left: 240px;
      width: 65%;
      height: 35%;
    }
    #background-large{
        display: block;
    }
    #background-small{
        display: none;
    }

    #tv-circles {
        display: block;
    }
    #tv-static {
        display: none;
    }
  }