#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: rgb(93, 255, 198);
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}


#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}










@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}