.jumbotron {
    width: 100vw;
    text-align: center;
    background-color: rgb(236, 235, 235) !important;
}

#page-content-wrapper {
    margin-left: 20px;
}

#LocBox section {
    border: solid black 2px;
    border-radius: 10px;
    width: 80vw;
    margin: 20px;
    background-color: rgb(236, 235, 235);
    padding: 5px;
    text-align: left;
}

.The-Inn {
    background-color: rgba(141, 91, 17, 0.308) !important;
}

.Halloween {
    background-color: rgba(173, 64, 0, 0.466) !important;
}

.Country-and-Town {
    background-color: rgba(9, 173, 3, 0.342) !important;
}

.Mountain {
    background-color: rgb(236, 235, 235) !important;
}

.Vogon-Spaceship {
    background-color: rgba(177, 177, 177, 0.671) !important;
}

.Cloud-City {
    background-color: rgba(0, 167, 233, 0.438) !important;
}

