<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <meta name="description" content="A text-based rpg game (MUD)">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/plover-start.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <title>Inn At The Edge of Copyright</title>
</head>

<body>
    <div class="container">
<img id="background-small" src="/images/Small-Background.png" alt="game console for small screens">
<img id="background-large" src="/images/Large-Background.png" alt="game console for large screens">
<img id="background-mobile" src="/images/mobile-typing-background.png" alt="game console for mobiles with keyboards out">

    {{{body}}}

</div>
<script src="./js/screenSize.js"></script>
</body>

</html>