@font-face {
    font-family: 'kavalerkursive';
    src: url('kavaler_kursive-webfont.woff2') format('woff2'), url('kavaler_kursive-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    background-color: black;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

/* #about-link, #about-link a {
    margin-top: -100px;
    color: #AAA9AD;
    z-index: 1000;
} */

#play-link, #play-link a {
    color: black;
    z-index: 1000;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}

.footer, .push {
    height: 50px;
}

/* Chat box */

.container {
    position: relative;
}

/* BEGIN HERE*/

figure {
    margin: 0px;
    margin-top: 20px;
}

#panel-border {
    background-color: white;
    border-radius: 32px;
    padding: 5px;
    margin-bottom: 58px;
}

.panel-default {
    background-color: rgb(180, 180, 180);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid rgb(180, 180, 180);
    height: 70vh;
    width: 80vw;
    border-radius: 25px;
    font-size: 12px;
}

#panel-interior {
    background-color: black;
    border: black solid 20px;
    border-radius: 10px;
    margin: 0px 20px 0px 20px;
    height: 85%;
    width: 85%;
}

#location-info {
    border-bottom-style: groove;
}

#logo {
    width: 160px;
    margin-left: 20%;
    margin-bottom: -20px;
    margin-top: 20px;
}

.message-output-box {
    overflow-y: scroll;
    overflow-wrap: break-word;
    min-height: 100%;
    height: 100%;
    width: 100%;
    overflow-anchor: none;
}

#input-group {
    display: flex;
    position: relative;
    left: -10px;
    bottom: 20px;
    width: 110%;
}

#inputBar {
    border-radius: 6px;
    height: 34px;
}

#submit-button {
    border-radius: 6px;
    background-color: gray;
    height: 34px;
    margin-left: 4px;
}

.fa {
    display: inline-block;
    vertical-align: center;
}

/* message display */

.error-message {
    margin-left: 20px;
    margin-top: -8px;
    margin-right: 15px;
    color: rgb(255, 0, 0);
}

.displayed-description {
    margin-left: 20px;
    margin-top: -8px;
    margin-right: 15px;
    color: rgb(245, 252, 181);
}

.displayed-stat, .displayed-intro, .displayed-error, .displayed-indent {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 13px;
    margin-right: 15px;
}

.displayed-error {
    margin-left: 20px;
    color: red;
}

.displayed-intro {
    margin-top: 8px;
}

.displayed-indent {
    margin-left: 20px;
}

#anchor {
    overflow-anchor: auto;
    height: 50px;
}

button {
    height: 100%;
    background-color: rgb(122, 122, 122);
    color: white;
}

/* ABOUT */

.about-title {
    margin: 0 auto;
    margin-top: 40px;
    font-family: kavalerkursive;
}

.inside-border {
    margin-top: 40px;
    margin-bottom: 60px;
    border: 3px white solid;
    background-color: black;
    border-radius: 15px;
    height: 100%;
    padding: 20px;
}

.card {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.hidden-figure {
    height: 250px;
    width: 250px;
    display: none;
}

#hidden-text {
    font-size: 0px;
}

.image-div {
    height: 250px;
    width: 250px;
}

.card-img-left {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.card-body {
    display: flex;
}

.card-text-elements {
    display: flex;
    flex-direction: column;
}

.card-buttons {
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card a {
    height: 80px;
    width: 80px;
    padding: 0px;
    margin: 2px;
    background-color: #AAA9AD;
    border: none;
}

#github-a, #linkedin-a {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

#github-a:hover {
    background-color: rgb(194, 1, 194);
    color: black;
}

#linkedin-a:hover {
    background-color: rgb(1, 108, 248);
    color: black;
}

.card a img {
    height: 70px;
    width: 70px;
    margin: 2px;
    margin-top: 4px;
    filter: contrast(200%);
}

/* media queries */

@media screen and (min-width: 500px) {
    #panel-interior {
        margin: 0px;
    }
    #input-group {
        height: 28px;
        width: 100%;
        height: 34px;
        bottom: 16px;
    }
    #inputBar {
        width: 90%;
        height: 34px;
        font-size: 12px;
    }
    #submit-button {
        width: 50px;
        margin-left: 4px;
    }
    .inside-border {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 700px) {
    #logo {
        width: 260px;
    }
    .panel-default {
        font-size: 18px;
        height: 55vh;
        width: 70vw;
    }
    #panel-interior {
        margin: 0px;
        width: 100%;
    }
    #input-group {
        height: 50px;
        bottom: 20px;
    }
    #inputBar {
        width: 90%;
        height: 34px;
        font-size: 18px;
    }
    #submit-button {
        width: 40px;
        height: 34px;
        margin-left: 4px;
    }
}

@media screen and (min-width: 850px) {
    .card {
        flex-direction: row !important;
        padding: 10px;
    }
    .card-buttons {
        flex-direction: column !important;
    }
}

@media screen and (min-width: 1050px) {
    .panel-default {
        font-size: 18px;
        height: 70vh;
        width: 50vw;
    }
    .inside-border {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (min-width: 1350px) {
    .inside-border {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media screen and (min-width: 1500px) {
    .inside-border {
        margin-left: 300px;
        margin-right: 300px;
    }
}

@media screen and (min-width: 1800px) {
    .inside-border {
        margin-left: 400px;
        margin-right: 400px;
    }
}